<nav class="nav">
    <div class="nav__container container">
        <div class="menu">
            <ul class="nav__navbar is--active">
                <li class="{% if current_path == path_for('home') %}is--active{% endif %}"><a href="{{ path_for('home') }}">Home</a></li>
                <li class="dropdown {% if current_path == path_for('services') %}is--active{% endif %}"><a href="{{ path_for('services') }}">Services</a>
                    <ul class="dropdown-menu services-dropdown">
                        <li><a href="{{ path_for('services') }}#time">Time My Meds&reg;</a></li>
                        <li><a href="{{ path_for('services') }}#compounding">Compounding</a></li>
                        <li><a href="{{ path_for('services') }}#addiction">Addiction Services</a></li>
                        <li><a href="{{ path_for('services') }}#packaging">Packaging</a></li>
                        <li><a href="{{ path_for('services') }}#flu">Flu Clinics</a></li>
                        <li><a href="{{ path_for('services') }}#clinic">Walk-In Clinic</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if current_path == path_for('education') %}is--active{% endif %}"><a href="{{ path_for('education') }}">Counseling</a>
                    <ul class="dropdown-menu education-dropdown">
                        <li><a href="{{ path_for('education') }}#smoking">Smoking Cessation</a></li>
                        <li><a href="{{ path_for('education') }}#med-review">Medication Reviews</a></li>
                        <li><a href="{{ path_for('education') }}#diabetes">Diabetes Education</a></li>
                        <li><a href="{{ path_for('education') }}#pain">Pain Management</a></li>
                    </ul>
                </li>
                <li class="{% if current_path == path_for('contact') %}is--active{% endif %}"><a href="{{ path_for('contact') }}">Contact</a></li>
            </ul>
        </div>
         {% include 'partials/hamburger.twig' %}
    </div>
</nav>
