<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('services') }}">Services</a></li>
        <li><a href="{{ path_for('products') }}">Products</a></li>
        <li><a href="{{ path_for('education') }}">Education</a></li>
        <li><a href="{{ path_for('contact') }}">Contact</a></li>
        <li><a href="{{ path_for('transfer') }}">Transfer A Prescription</a></li>
    </ul>
</div>
